<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app" class="container-fluid">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Welcome [[ this_user.username ]]!</a>
                    <a class="nav-link" href="/logout">Log out</a>
                    <form class="d-flex" @submit.prevent="search">
                        <input class="form-control me-2" type="search" placeholder="Doctor, Patient.." v-model="search_query">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>  
            </nav>
            <div class="book_ad">   
                <button class="btn btn-primary" @click="addDoc()">Create</button>
            </div>
            <div id="content">
                <h3 class="headings">Registered Doctors</h3>
                <span class="badge bg-primary">Doctors registered: [[ count.total_doc ]]</span>

                <nav class="navbar navbar-light bg-light" v-for="d in all_doc" :key="d.Doctor_id">
                    <div class="container-fluid">
                        <a class="navbar-brand">Dr. [[ d.Doctor_name ]]</a>
                        <button class="btn btn-outline-primary" @click="editD(d.Doctor_id)">Edit</button>
                        <button class="btn btn-outline-danger" @click="deleteDoctor(d.user_id)">Delete</button>
                        <button v-if="!d.blacklisted" class="btn btn-outline-secondary" @click="blacklistDoctor(d.user_id)">Blacklist</button>
                        <span v-else class="badge bg-secondary">[[ d.Doctor_name ]] is blacklisted</span>
                    </div>
                </nav>

                <div id="content"><br>
                <h3 class="headings">Registered Patients</h3>
                <span class="badge bg-primary">Patients registered: [[ count.total_pat ]]</span>
                <nav class="navbar navbar-light bg-light" v-for="p in all_pat" :key="p.Patient_id">
                    <div class="container-fluid">
                        <a class="navbar-brand">[[ p.Patient_name ]]</a>
                        <button class="btn btn-outline-primary" @click="editP(p.Patient_id)">Edit</button>
                        <button class="btn btn-outline-danger" @click="deletePatient(p.user_id)">Delete</button>
                        <button v-if='!p.blacklisted' class="btn btn-outline-secondary" @click="blacklistPatient(p.user_id)">Blacklist</button>
                        <span v-else='p.blacklisted'class="badge btn-secondary">[[ p.Patient_name ]] is blacklisted</span>
                    </div>
                </nav>
            </div>
                    <div id="content"><br>
                        <h3 class="headings">Upcoming Appointments</h3>
                        <span class="badge bg-primary">Upcoming Appointments: [[ count.upcoming_count ]]</span>
                        <div id="table">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Appointment_id</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Doctor Name</th>
                                    <th scope="col">Department Name</th>
                                    <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="a in appointments" :key="a.Appointment_id">
                                        <td>[[ a.Appointment_id ]]</td>
                                        <td>[[ a.patient_name ]]</td>
                                        <td>[[ a.doctor_name ]]</td>
                                        <td>[[ a.department_name ]]</td>
                                        <td>[[ a.Status ]]</td>
                                    </tr>
                                    <tr v-if="appointments.length === 0">
                                        <td colspan="5" class="text-center">No upcoming appointments!</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>    
                        <div id="content"><br>
                        <h3 class="headings">Past Appointments</h3>
                        <span class="badge bg-primary">Past Appointments: [[ count.past_count]]</span>
                        <div id="table">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Appointment_id</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Doctor Name</th>
                                    <th scope="col">Department Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Patient History</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="a in past_appointments" :key="a.Appointment_id">
                                        <td>[[ a.Appointment_id ]]</td>
                                        <td>[[ a.patient_name ]]</td>
                                        <td>[[ a.doctor_name ]]</td>
                                        <td>[[ a.department_name ]]</td>
                                        <td>[[ a.Date ]]</td>
                                        <td>[[ a.Status ]]</td>
                                        <td>
                                            <button class="btn btn-primary" @click="viewHistory(a.Patient_id)">View</button>
                                        </td>
                                    </tr>
                                <tr v-if="past_appointments.length === 0">
                                    <td colspan="7" class="text-center">No Past Appointments!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <script>
        new Vue({
            el:'#app',
            delimiters: ['[[',']]'],

            data: {
                this_user: {},
                all_doc: [],
                all_pat: [],
                appointments: [],
                past_appointments: [],
                count: {},
                search_query: ""    
            },

            methods: {
                loadData() {
                    fetch("/admin/data", { 
                    credentials: "include"
                    })
                        .then(res => {
                            if (res.status === 403) {
                                alert("Session expired! Kindly login again.")
                                window.location = '/login'
                                return
                            }
                            return res.json()
                        })
                        .then(data => {
                            console.log("Data:", data)
                            this.this_user = data.this_user;
                            this.all_doc = data.all_doc;
                            this.all_pat = data.all_pat;
                            this.appointments = data.appointments;
                            this.past_appointments = data.past_appointments;
                            this.count = data.count;
                        })

                        .catch(err => {
                            console.log("ERROR:", err)
                        })
                },

                searchData() {
                    fetch("/admin/search?search=" + this.search_query, {
                        credentials: "include"
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.all_doc = data.doctors
                        this.all_pat = data.patients
                    })
                    .catch(err => console.log(err))
                },

                blacklistPatient(id){
                    fetch(`/admin/blacklist/${id}`,{
                        method:"PUT"
                    })

                    .then(res => res.json())
                    .then(data => {
                        alert(data.message)
                        this.loadData()
                    })
                },

                deletePatient(id){
                    fetch(`/admin/delete_patient/${id}`,{
                    method:"DELETE"
                })

                .then(res => res.json())
                .then(data => {
                    alert(data.message)
                    this.loadData()
                })
            },
                blacklistDoctor(id){
                    fetch(`/admin/blacklist/${id}`,{
                    method:"PUT",
                    credentials: "include"
                })

                .then(res => res.json())
                 .then(data => {
                    alert(data.message)
                    this.loadData()
                })
            },
                deleteDoctor(id){
                    fetch(`/admin/delete_doctor/${id}`,{
                    method:"DELETE",
                    credentials: "include"
                })

                .then(res => res.json())
                .then(data => {
                    alert(data.message)
                    this.loadData()
                })
            },

                editP(id){
                   window.location = `/admin/edit_patient/${id}`;
            },
                editD(id){
                    window.location = `/admin/edit_doctor/${id}`;
            },
                addDoc(){
                    window.location = "/admin/page/add_doctor";
            },
                search() {
                    if (this.search_query.trim() === "") {
                        this.loadData()
                    } else {
                        this.searchData()
                    }
                },

                viewHistory(patient_id) {
                    window.location.href = `/admin/patient/history/${patient_id}`;
                }
            },

            mounted() {
                this.loadData();
                setTimeout(() => {
                    alert("Session expired! Kindly login again!")
                    window.location = '/login'
                }, 1800000)
            }
        });
    </script>
</body>
</html>